{% extends 'base.html' %}

{% block title %}Blog - CerealConnect{% endblock %}

{% block content %}
    <h1 class="text-center mt-5">Our Blog</h1>
    <div class="row">
        {% for post in blogs %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content|slice:":100" }}...</p>
                        <a href="#" class="btn btn-secondary">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
