<!-- cerealconnect/templates/cerealconnect/browse.html -->
{% extends 'base.html' %}

{% block title %}Browse Cereal Products{% endblock %}

{% block content %}
    <h1>Browse Our Cereal Products</h1>
    <div>
        {% for product in products %}
            <div>
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Price: KSh {{ product.price }}</p>
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <a href="{% url 'update' product.id %}">Update Product</a>
            </div>
        {% empty %}
            <p>No products available.</p>
        {% endfor %}
    </div>
{% endblock %}
