{##}
{#{% extends 'base.html' %}#}
{##}
{#{% block body %}#}
{#<div class="container">#}
{#    <div class="row mt-5">#}
{#        <div class="col-md-12">#}
{#            <h2>Mpesa Access Token</h2>#}
{#            {% if token %}#}
{#                <div class="alert alert-success" role="alert">#}
{#                    <strong>Success!</strong> The Mpesa Access Token was successfully retrieved.#}
{#                    <pre>{{ token }}</pre>  <!-- Display the token here -->#}
{#                </div>#}
{#            {% else %}#}
{#                <div class="alert alert-danger" role="alert">#}
{#                    <strong>Error!</strong> Failed to retrieve the Mpesa Access Token.#}
{#                </div>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#{% endblock %}#}


{#{% extends 'base.html' %}#}
{##}
{#{% block body %}#}
{#<div class="container">#}
{#    <div class="row mt-5">#}
{#        <div class="col-md-12">#}
{#            <h2>Mpesa Access Token</h2>#}
{##}
{#            {% if token %}#}
{#                <div class="alert alert-success" role="alert">#}
{#                    <strong>Success!</strong> The Mpesa Access Token was successfully retrieved.#}
{#                    <pre>{{ token }}</pre>  <!-- Display the token here -->#}
{#                </div>#}
{#            {% else %}#}
{#                <div class="alert alert-danger" role="alert">#}
{#                    <strong>Error!</strong> Failed to retrieve the Mpesa Access Token.#}
{#                    Please check your credentials or try again later.#}
{#                </div>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#{% endblock %}#}


{% extends 'base.html' %}
    {% block body %}
    <div class="container">
    <h2>Mpesa Access Token</h2>
    {% if token %}
        <div class="alert alert-success">Token: {{ token }}</div>
    {% else %}
        <div class="alert alert-danger">Error: {{ error }}</div>
    {% endif %}
</div>

{% endblock %}
